body{
	height:100%;
	background-repeat:no-repeat;
}

.letter{
	display:none;
}

#sub_tytle img{
	display:none;
	width:20%;
	float:left;
}

.largeletter{
	display:none;
	float:clear;
}

#loginb img{
  position:relative;
  top:280px;
  left:-5px;
  width:100px;
}

.logo img{
	display:none;
	width:60%;
}

#whatb img{	
	position:relative;
	top:227px;
	left:150px;
	width:20px;
}

#counter{
	display:none;	
}
