<% if current_user %>
<div id="header">
	<div id="contents">
		<div class="conoyubilink">
			<%= link_to "CONOYUBI","/cono-top" %>  |
		</div>
		<div id="likebutton">
			<div id="fb-root">
			</div>
			<!-- Begin Likebutton Set -->
			<div id = "likeb" >
				<div class="fb-like" data-href="http://www.cono-yubi.com/cono-top" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true">
				</div><!-- fb-like -->
				<!-- End Likebutton -->
			</div>
			<!-- End Likebutton Set -->
		</div><!--#likebutton end-->
		<div class="user">
		|  <%= current_user.name %>さん  |
		<%= link_to "ログアウト", "/cono-top/logout", method: :delete,
											data: {confirm: "ログアウトしますか？"} %>
		</div>
	</div>
</div>
<% end %>
