<div id="events">
<dl>
	
<% @events.each do |event| %>
	<dt>
	<%= link_to event do %>
		<%= truncate(event.event_name, :length => 20) %>
	<% end %>
	</dt>
	<dd><%= truncate(event.event_pr, :length => 36) %></dd>
<% end %>

</dl>
</div>