body{
	height:100%;
	background-repeat:no-repeat;
}

.letter{
	display:none;
}

#sub_tytle img{
	display:none;
	width:20%;
	float:left;
}

.largeletter{
	display:none;
	float:clear;
}

#loginb img{
  position:relative;
  top:700px;
  left:-5px;
  width:100px;
}

.logo img{
	display:none;
	width:60%;
}

#whatb{	
	position:relative;
	top:602px;
	left:310px;
	width:100px;
}

#counter{
	display:none;	
}
